$lilac: #CC99CC; // empty cell
$pink_mb: #996699; // phone
$pink2: #FFCCFF;
$pink4: #f5a4f5;
$pink6: #ff89ff;
$pink16: #fd72fd;
$pink32: #f75bf7;
$pink64: #ff43ff;
$pink128: #ff32ff;
$pink256: #ff00ff;
$pink512: #e000e0;
$pink1024: #b300b3;
$pink2048: #8a008a;